@import "tailwindcss";

/*------Base styling------*/
::-webkit-scrollbar{
  display: none;
}

hr{
  opacity:55%;
}

.shade {
  color: #ffffff;
  text-shadow: 0 0 3px #fbfbf6, 0 0 15px rgb(168, 103, 46), 0 0 25px rgb(172, 101, 9), 0 0 40px rgb(255, 253, 250);
}

@theme {
  --background-image-hero-gradient: linear-gradient(100deg,#FFCE1B 0%,#FFCE1B 100%);
}

@layer base {
  html, body { min-height: 100vh; }
  body {
    @apply bg-hero-gradient bg-fixed text-white p-2 font-mono;
  }
}

/*-----small screen Nav Animation------*/
@theme {
  --animate-nav-enter: nav-enter 0.6s cubic-bezier(0.22, 1, 0.36, 1) forwards;
}

@keyframes nav-enter {
  from {
    opacity: 0;
    transform: translateX(30px);
    filter: blur(6px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
    filter: blur(0);
  }
}

/*-----background dots-----*/
@theme {
  --animate-grid: gridMove 18s linear infinite;
}

@utility dot-grid {
  background-image:
    radial-gradient(circle, rgba(92, 51, 23, 0.35) 1px, transparent 1px);

  background-size: 30px 30px;

  animation: var(--animate-grid);
}

@keyframes gridMove {
  from{
    background-position:0 0;
  }

  to{
    background-position:80px 80px;
  }
}

/*----Blink effect------*/
@theme{
  --animate-cursor:cursor .8s step-end infinite;
}

@keyframes cursor{
  50%{
    opacity:0;
  }
}

/*----float logic-----*/
@keyframes float {
  0%, 100% { transform: translateY(0); }
  50% { transform: translateY(-15px); } /* Moves up 15px at the midpoint */
}